html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body
{
	height: 100%;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
}
body.fullscreen
{
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fullscreen #container
{
	position: relative;
	background: black;
}
.fullscreen #container>canvas
{
}
.fit #container
{
	width: 100%;
	height: 100%;
}